# System and editor files
*~
.DS_Store
.directory
.Trash-*
._*

# IDE and editor specific files
.idea/
.vscode/
*.swp
*.swo

.tmuxifier
install.log

# Managed files
home/.config/backgrounds/current.jpg
home/.config/backgrounds/current-blurry.jpg

# Ranger
home/.config/ranger/history
home/.config/ranger/tagged
/home/.config/ranger/.cache/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# User-specific local files
home/.local/
