---
- name: Configure Fish as default shell
  user:
    name: "{{ ansible_user_id }}"
    shell: /usr/bin/fish
  become: true

- name: Install Fisher
  shell: |
    rm -f {{ ansible_user_dir }}/.config/fish/completions/fisher.fish
    curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | fish -c "source && fisher install jorgebucaran/fisher"
  args:
    creates: "{{ ansible_user_dir }}/.config/fish/functions/fisher.fish"
  when: ansible_env.SHELL is search('fish')


- name: Install Atuin
  shell: curl --proto '=https' --tlsv1.2 -sSf https://setup.atuin.sh | sh
  args:
    creates: "{{ ansible_user_dir }}/.atuin/bin/atuin"

- name: Add Carapace repository
  yum_repository:
    name: fury
    description: Gemfury Private Repo
    baseurl: https://yum.fury.io/rsteube/
    gpgcheck: no
    enabled: yes
  become: true

- name: Install Carapace
  dnf:
    name: carapace-bin
    state: present
  become: true

- name: Check if Pokemon Colorscripts is installed
  command: command -v pokemon-colorscripts
  register: pokemon_colorscripts_check
  changed_when: false
  failed_when: false

- name: Install Pokemon Colorscripts
  block:
    - name: Clone pokemon-colorscripts
      git:
        repo: https://gitlab.com/phoneybadger/pokemon-colorscripts.git
        dest: /tmp/pokemon-colorscripts

    - name: Install pokemon-colorscripts
      command: ./install.sh
      args:
        chdir: /tmp/pokemon-colorscripts
      become: true
      changed_when: false
  when: pokemon_colorscripts_check.rc != 0

