/* Matugen generated Waybar theme */

/* Base surfaces */
@define-color base                {{ colors.surface.default.hex }};
@define-color crust               {{ colors.surface_container_lowest.default.hex }};
@define-color mantle              {{ colors.surface_container_low.default.hex }};

@define-color surface0            {{ colors.surface_container.default.hex }};
@define-color surface1            {{ colors.surface_container_high.default.hex }};
@define-color surface2            {{ colors.surface_container_highest.default.hex }};

/* Overlays */
@define-color overlay0            {{ colors.outline_variant.default.hex }};
@define-color overlay1            {{ colors.outline.default.hex }};
@define-color overlay2            {{ colors.on_surface_variant.default.hex }};

/* Text */
@define-color text                {{ colors.on_surface.default.hex }};
@define-color muted               {{ colors.on_surface_variant.default.hex }};

/* Accents */
@define-color red                 {{ colors.error.default.hex }};
@define-color green               {{ colors.primary.default.hex }};
@define-color yellow              {{ colors.tertiary.default.hex }};
@define-color blue                {{ colors.primary_container.default.hex }};
@define-color mauve               {{ colors.secondary.default.hex }};
@define-color sapphire            {{ colors.tertiary.default.hex }};
@define-color sky                 {{ colors.secondary_container.default.hex }};
@define-color maroon              {{ colors.tertiary_container.default.hex }};

/* Waybar specific */
@define-color bar_bg              {{ colors.surface.default.hex }};
@define-color bar_border          {{ colors.outline_variant.default.hex }};
@define-color module_bg           {{ colors.surface_container.default.hex }};

@define-color fingerprint_bg      {{ colors.secondary_container.default.hex }};
@define-color urgent_red          {{ colors.error.default.hex }};
@define-color recording_red       {{ colors.error_container.default.hex }};
