overview {
    zoom 0.45
    workspace-shadow {
        off
    }
}

cursor {
    // xcursor-theme "Banana" // for fun
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 18
    hide-when-typing
    hide-after-inactive-ms 10000
}
