layout {
    gaps 8
    background-color "#0d0e11"
    center-focused-column "never"
    always-center-single-column true

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        off
    }

    border {
        on
        width 1
        active-color "#a8a9ee"
        inactive-color "#3e3548"
        urgent-color "#f38ba8"
    }

    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
    }

    struts {}
}
