spawn-at-startup "bash" "-c" "~/.config/niri/scripts/autostart.sh"

xwayland-satellite {
     // off
    // path "~/source/rs/xwayland-satellite/target/release/xwayland-satellite"
}

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    skip-at-startup
}

switch-events {
    lid-close { spawn "sh" "-c" "niri msg action power-off-monitors && hyprlock"; }
    lid-open { spawn "niri" "msg" "action" "power-on-monitors"; }
}
