/* Zen monochrome dark theme for Waybar */
@define-color crust #0e1116;
@define-color mantle #141822;
@define-color base #1b202c;
@define-color surface0 #242b3a;
@define-color surface1 #2a3040;
@define-color surface2 #32394a;
@define-color overlay0 #4a5468;
@define-color overlay1 #5b6680;
@define-color overlay2 #7c8594;
@define-color subtext0 #a7afba;
@define-color subtext1 #cfd4dc;
@define-color text #e5e7eb;
@define-color rosewater #4a5468;
@define-color flamingo #5b6680;
@define-color pink #5b6680;
@define-color mauve #7c8594;
@define-color red #4a5468;
@define-color maroon #4a5468;
@define-color peach #5b6680;
@define-color yellow #7c8594;
@define-color green #4a5468;
@define-color teal #5b6680;
@define-color sky #7c8594;
@define-color sapphire #4a5468;
@define-color blue #cfd4dc;
@define-color lavender #cfd4dc;
@define-color bar_bg #0e1116;
@define-color bar_border #4a5468;
@define-color module_bg #141822;
@define-color muted #4a5468;
@define-color fingerprint_bg #2a3040;
@define-color urgent_red #5b6680;
@define-color recording_red #5b6680;
@define-color ws_bg #242b3a;
@define-color ws_fg #4a5468;
@define-color ws_focused_bg #2a3040;
@define-color ws_focused_fg #cfd4dc;
@define-color ws_focused_border #cfd4dc;
@define-color ws_urgent_bg #5b6680;
@define-color ws_urgent_border #4a5468;
@define-color ws_urgent_fg #e5e7eb;
@define-color notification_yellow #7c8594;
@define-color muted_peach #5b6680;
@define-color purple #7c8594;
@define-color playing_green #4a5468;
