// Original dofs colors for Niri
layout {
    background-color "#0d0e11"
    border {
        active-color "#7e9cd8"
        inactive-color "#494e6d"
        urgent-color "#f38ba8"
    }
}
overview {
    backdrop-color "#0d0e11e6"
}
