/* Gruvbox Light Soft Waybar */
@define-color base #f2e5bc;
@define-color surface0 #d5c4a1;
@define-color surface1 #d5c4a1;
@define-color surface2 #bdae93;
@define-color overlay0 #7c6f64;
@define-color overlay1 #928374;
@define-color overlay2 #a89984;
@define-color text #282828;
@define-color red #9d0006;
@define-color green #79740e;
@define-color yellow #b57614;
@define-color blue #076678;
@define-color mauve #8f3f71;
@define-color bar_bg #f2e5bc;
@define-color bar_border #d5c4a1;
@define-color module_bg #ebdbb2;
@define-color muted #504945;
@define-color recording_red #9d0006;
@define-color fingerprint_bg #d5c4a1;
@define-color urgent_red #9d0006;
@define-color mantle #ebdbb2;
@define-color crust #d5c4a1;
@define-color notification_yellow #b57614;
@define-color muted_peach #af3a03;
@define-color purple #8f3f71;
@define-color playing_green #427b58;
@define-color paused_yellow #b57614;
@define-color ws_bg #ebdbb2;
@define-color ws_fg #504945;
@define-color ws_focused_bg #d5c4a1;
@define-color ws_focused_fg #282828;
@define-color ws_focused_border #076678;
@define-color ws_urgent_bg #9d0006;
@define-color ws_urgent_border #890009;
@define-color ws_urgent_fg #f2e5bc;
