/* Zen minimal pastel dark theme for Waybar */
@define-color crust #0e1116;
@define-color mantle #141822;
@define-color base #1b202c;
@define-color surface0 #242b3a;
@define-color surface1 #2a3040;
@define-color surface2 #32394a;
@define-color overlay0 #3a4354;
@define-color overlay1 #4a5468;
@define-color overlay2 #5b6680;
@define-color subtext0 #8f9aac;
@define-color subtext1 #b7c1cf;
@define-color text #e6ecf3;
@define-color rosewater #f3c6a2;
@define-color flamingo #f0b5c1;
@define-color pink #f0b5c1;
@define-color mauve #c5b8ff;
@define-color red #f09aaa;
@define-color maroon #f4a5b6;
@define-color peach #f3c6a2;
@define-color yellow #f3dfb8;
@define-color green #8ee0c4;
@define-color teal #7fd6d1;
@define-color sky #8bd9d1;
@define-color sapphire #7ab8ff;
@define-color blue #7ab8ff;
@define-color lavender #d7ccff;
@define-color bar_bg #0e1116;
@define-color bar_border #2a3040;
@define-color module_bg #141822;
@define-color muted #3a4354;
@define-color fingerprint_bg #1b202c;
@define-color urgent_red #f09aaa;
@define-color recording_red #f09aaa;
