---
- name: Check if FNM is installed
  stat:
    path: "{{ ansible_user_dir }}/.local/share/fnm/fnm"
  register: fnm_check

- name: Install FNM
  shell: curl -fsSL https://fnm.vercel.app/install | bash -s -- --skip-shell
  when: not fnm_check.stat.exists

- name: Setup Node.js via FNM
  shell: |
    export PATH="{{ ansible_user_dir }}/.local/share/fnm:$PATH"
    eval "$(fnm env --shell bash)"
    fnm install --lts
    fnm default lts-latest
    corepack enable
    corepack prepare pnpm@latest --activate
  args:
    executable: /bin/bash
  changed_when: false

- name: Check if Bun is installed
  stat:
    path: "{{ ansible_user_dir }}/.bun/bin/bun"
  register: bun_check

- name: Install Bun
  shell: curl -fsSL https://bun.sh/install | bash
  when: not bun_check.stat.exists

- name: Check if Rustup is installed
  stat:
    path: "{{ ansible_user_dir }}/.cargo/bin/rustup"
  register: rustup_check

- name: Install Rustup
  shell: curl -fsSL https://sh.rustup.rs | sh -s -- -y --no-modify-path
  when: not rustup_check.stat.exists

- name: Configure Rust toolchain
  shell: |
    export PATH="{{ ansible_user_dir }}/.cargo/bin:$PATH"
    rustup toolchain install stable
    rustup default stable
    rustup component add rustfmt --toolchain stable
    rustup component add clippy --toolchain stable
    cargo install taplo-cli
  args:
    executable: /bin/bash
  changed_when: false

