KERNEL=="card0", SUBSYSTEM=="drm", ACTION=="change", RUN+="/bin/bash -c 'export USER=$(who | grep :0 | cut -d\" \" -f1); /usr/bin/sudo -u $USER /home/$USER/.config/scripts/monitor-hotplug.sh'"