/* Original dofs theme for Waybar */
@define-color crust #11111b;
@define-color mantle #181825;
@define-color base #1e1e2e;
@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;
@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;
@define-color text #e7e3ff;
@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #d0d2ff;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #7e9cd8;
@define-color lavender #b4befe;
@define-color bar_bg #0d0e11;
@define-color bar_border #383850;
@define-color module_bg #141420;
@define-color muted #4a4a64;
@define-color fingerprint_bg #252538;
@define-color urgent_red #eb4d4b;
@define-color recording_red #ff4757;
@define-color ws_bg #2a2a37;
@define-color ws_fg #879099;
@define-color ws_focused_bg #285577;
@define-color ws_focused_fg #ffffff;
@define-color ws_focused_border #7e9cd8;
@define-color ws_urgent_bg #eb4d4b;
@define-color ws_urgent_border #da605e;
@define-color ws_urgent_fg #ffffff;
@define-color notification_yellow #f9e2af;
@define-color muted_peach #fab387;
@define-color purple #bb9af7;
@define-color playing_green #a6e3a1;
