---
- name: reload systemd
  systemd:
    daemon_reload: yes
  become: true

- name: restart resolved
  systemd:
    name: systemd-resolved
    state: restarted
  become: true

- name: reload systemd user
  systemd:
    daemon_reload: yes
    scope: user

